@charset "utf-8";
body{
	font-size:14px;
	color:#333;
	font-family:"Microsoft Yahei",Arial;
}
body,div,p,span,h1,h2,h3,h4,h5,h6,a,img,b,i,strong,table,thead,tbody,tr,th,td,caption,aside,ul,li,ol,input,button,select,article,header,footer,fieldset,form,iframe{
	border:0px;
	margin:0px;
	padding:0px;
	vertical-align:baseline;
	font:inherit;
}
body{
	padding:1px;
}
.container{
	margin:10px auto;
	padding-left:10px;
	padding-right:10px;
}
.shutterScrollPage{
	position:relative;
	display:block;
	width:100%;
	overflow:hidden;
}
.shutterScrollPage ul{
	list-style:none;
	display:block;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	left:0px;
	top:0px;
	position:absolute;
}
.shutterScrollPage ul:after{
	display:block;
	overflow:hidden;
	clear:both;
	content:"";
	visibility:hidden;
	height:0px;
}
.shutterScrollPage ul li{
	float:left;
	text-align:center;
	background-color:rgba(0,0,0,0.6);
}
.shutterScrollPage ul li img{
	display:inline-block;
	max-width:100%;
	height:auto;
	vertical-align:middle;
}
.shutterScrollPage ul li,.shutterScrollPage ul li img{
	-webkit-transition:opacity 1s;
	-moz-transition:opacity 1s;
	-ms-transition:opacity 1s;
	-o-transition:opacity 1s;
	transition:opacity 1s;
}
.shutterScrollPage .switchNav{
	position:absolute;
	left:50%;
	bottom:10px;
	top:auto;
	z-index:999;
}
.shutterScrollPage .switchNav li{
	float:left;
	width:10px;
	height:10px;
	border:1px solid #ccc;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
	border-radius:50%;
	margin-right:8px;
	background-color:transparent;
}
.shutterScrollPage .switchNav li.active{
	border-color:#666;
	background-color:cyan;
}
@media (min-width:1200px){
	.container{
		width:1200px;
	}
}
